/*----------------------------------------------------------------------------*/
/*#BUTTON STYLE*/
/*----------------------------------------------------------------------------*/

$btn-primary-bg: transparent;
$btn-primary-color: $white;
$btn-secondary-bg: rgba(5, 224, 233, 0.5);
$btn-secondary-color: $white;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  text-transform: uppercase;
  color: $white;
  width: 100%;
  min-height: 70px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  border: 2px solid;
  border-radius: 50px;

  @include screen(xs) {
    max-width: 100%;
    font-size: 20px;
    min-height: 60px;
  }

  // Button min-height
  &--mh-md { min-height: 60px; }

  // View
  &-view {
    max-width: fit-content;
    min-height: inherit;
    text-transform: capitalize;
    border: none;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;

    @include screen(xs) {
      max-width: inherit;
      min-height: inherit;
      font-size: 18px;
    }

    &::before {
      content: '';
      background: url('../images/icons/circle-plus.svg') no-repeat center/contain;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after { content: "View Detalis"; }
  }

  // Discover
  &-discover {
    position: relative;
    max-width: 70px;
    height: 70px;
    text-transform: uppercase;
    color: #121c26;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    justify-content: flex-start;
    border: none;
    padding: 15px;
    transition: max-width .3s ease-in-out, background .3s ease-in-out, box-shadow .3s ease-in-out, padding .3s ease-in-out;

    span {
      opacity: 0;
      z-index: 1;
      transition: color .3s ease-in-out, opacity .3s ease-in-out;
    }

    &::before {
      content: '';
      background-image: linear-gradient(90deg, $white 0%, rgba($white, 0.78) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50px;
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
    
    &::after {
      content: '';
      background: url('../images/icons/arrow-right-black.svg') no-repeat center/contain;
      width: 44px;
      height: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 13px;
      transition: filter .3s ease-in-out, right .3s ease-in-out;
    }

    &:hover {
      background: rgba($white, 0.1);
      box-shadow: 0 0 0 2px $white inset;

      &::before { opacity: 0; }

      &::after {
        filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(188deg) brightness(105%) contrast(107%);
        right: 40px;
      }
      
      span { color: $white; }
    }
  }

  // Plus
  &-plus {
    background: linear-gradient(91deg, rgba($white, 0.25) 0%, rgba($white, 0.08) 82.2%);
    max-width: 40px;
    width: 100%;
    height: 40px;
    min-height: inherit;
    padding: 5px;
    border-radius: 3px;
    border: none;
    transition: box-shadow .3s ease-in-out;

    @include screen(xs) {
      max-width: 40px;
      font-size: inherit;
      min-height: inherit;
    }

    &::after {
      content: '';
      background-image: url('../images/icons/plus.svg');
      width: 18px;
      height: 18px;
      opacity: .6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 0 1px $white inset;

      &::after { opacity: 1; }
    }
  }

  // Button modifiers
  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    transition: max-width .3s ease-in-out, font-size .3s ease-in-out, min-height .3s ease-in-out;

    &::before {
      content: '';
      border-radius: inherit;
      background: linear-gradient(90deg, rgba($white, 0.35) 0%, rgba($white, 0.105) 82%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      &::before { opacity: 1; }
    }
  }

  &--secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    border: none;
    transition: max-width .3s ease-in-out, font-size .3s ease-in-out, min-height .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;

    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(5, 224, 233, 0.5) 0%, rgba(5, 224, 233, 0.15) 82%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50px;
      opacity: 0;
      z-index: -1;
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      background-color: transparent;
      box-shadow: 0 0 0 2px #04e6e6 inset;
      
      &::before { opacity: 1; }
    }
  }

  &--white-gradient {
    position: relative;
    border-color: transparent;
    transition: box-shadow .3s ease-in-out;

    &::before {
      content: '';
      background: linear-gradient(91.34deg, rgba($white, 0.25) 0%, rgba($white, 0.075) 82.2%);
      position: absolute;
      inset: 0;
      border: none;
      border-radius: 50px;
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 0 2px $white inset;

      &::before { opacity: 0; }
    }
  }

  // Button size
  &--xl { max-width: 450px; }

  &--lg { max-width: 440px; }

  &--md { max-width: 420px; }

  &--sm { max-width: 300px; }

  &--xs { max-width: 260px; }

  &--xxs { max-width: 255px; }

  &--xxxs { max-width: 155px; }

}

// Play
.btn-play {
  background: url('../images/icons/play-loader.svg') no-repeat center/cover;
  width: 100%;
  max-width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: none;
  transition: max-width .3s ease-in-out, height .3s ease-in-out;

  @include screen(sm)   {
    max-width: 70px;
    height: 70px;
  }
  @include screen(xs)   {
    max-width: 60px;
    height: 60px;
  }
  @include screen(xxs)  {
    max-width: 50px;
    height: 50px;
  }
  @include screen(xxxs) {
    max-width: 40px;
    height: 40px;
  }
}