/*----------------------------------------------------------------------------*/
/*#HEADER STYLE*/
/*----------------------------------------------------------------------------*/

.header {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    z-index: 1000;
    transition: min-height .3s ease-in-out, background-color .3s ease-in-out, background-image .3s ease-in-out, background-size .3s ease-in-out;

    @include screen(lg) { min-height: 85px; }
    @include screen(sm) { min-height: 75px; }
    @include screen(xs) { min-height: 65px; }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: inherit;
        gap: 50px;

        @include screen(xl) { gap: 30px; }

        &::after {
            content: '';
            background-color: rgba($white, 0.5);
            max-width: 1600px;
            width: calc(100% - 30px);
            height: 1px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            transition: width .3s ease-in-out, max-width .3s ease-in-out;
            z-index: 999;
        }
    }

    &__logo {
        flex-shrink: 0;

        img {
            display: block;
            transition: max-width .3s ease-in-out;

            @include screen(lg) { max-width: 50px; }
            @include screen(sm) { max-width: 40px; }
            @include screen(xs) { max-width: 35px; }
        }
    }

    &-active {
        background-color: rgba(0, 23, 36, .8);
        min-height: 90px;

        @include screen(lg) { min-height: 70px; }

        .container {
            &::after {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;

    &-primary {
        gap: 35px;
        justify-content: flex-end;
        transition: left .3s ease-in-out, .3s ease-in-out, background-color .3s ease-in-out, background-image .3s ease-in-out, background-size .3s ease-in-out;

        @include screen(xl) { gap: 25px; }
        @include screen(lg) {
            flex-direction: column;
		    align-items: flex-start;
		    justify-content: start;
		    overflow: auto;
            gap: 40px;
		    max-width: 400px;
            width: 100%;
		    height: calc(100vh - 60px);
            position: absolute;
		    top: 100%;
		    left: -100%;
		    padding: 30px 15px;
		    z-index: 999;
        }
        @include screen(xxxs) { max-width: 100%; }

        .nav__link {
            font-size: 20px;
            letter-spacing: 1.2px;

            @include screen(xl) { font-size: 18px; }
            @include screen(lg) { line-height: 1.45; }
        }

        .btn {
            font-size: 20px;

            @include screen(xl) {
                max-width: 145px;
                font-size: 18px;
                min-height: 55px;
            }
            @include screen(lg) {
                max-width: 100%;
                font-size: 20px;
                min-height: 60px;
            }
        }
    }

    &-secondary {
        gap: 30px;

        .nav__link { 
            font-size: 16px;
            letter-spacing: 1px;
        }
    }

    &__link {
        position: relative;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        background: linear-gradient(to right, $white, $white 33.33333% ,#04e6e6 66.66666%, #009291);
        background-position: top left;
        background-size: 300% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position .3s ease-in-out, font-size .3s ease-in-out;

        &:hover { background-position: top left 100%; }
    }

    &-toggle { 
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        visibility: visible;
        cursor: pointer;
        width: 30px;
        height: 20px;
        flex-shrink: 0;
        z-index: 999;
    
        @include screen(lg) { display: flex; }
        @include screen(xs) { width: 25px; }
    
        span {
            position: absolute;
            background-color: $white;
            width: 30px;
            height: 2px;      
            transition: background .3s ease-in-out, top .3s ease-in-out, transform .3s ease-in-out;
            transform: rotate(0);

            @include screen(xs) { width: 25px; }
    
            &:first-child { top: 0; }
    
            &:nth-child(2) { top: calc(50% - 1px); }
    
            &:nth-child(3) { top: calc(100% - 2px); }
        }
    }
}

.active-link {
    background-image: linear-gradient(to right, $white, $white 33.33333% ,#04e6e6 66.66666%, #009291);
    background-size: 300% 100%;
    background-position: top left 100%;
    transition: none;
}

body.menu-triggered {
    overflow: hidden;

    .header {
        .nav { left: 0; }

        .container {
            max-width: 100%;

            &::after {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .header,
    .header .nav-primary {
        background-color: #001723;
        background-image: linear-gradient(to bottom,rgba($white, .05) 1px, transparent 1px, transparent calc(100% - 1px), rgba($white, 0.05) calc(100% - 1px)), linear-gradient(to right, rgba($white, .05) 1px, transparent 1px, transparent calc(100% - 1px), rgba($white, .05) calc(100% - 1px));
        background-size: 100px 100px, 100px 100px;

        @include screen(md) { background-size: 70px 70px, 70px 70px; }
        @include screen(sm) { background-size: 50px 50px, 50px 50px; }
        @include screen(xs) { background-size: 30px 30px, 30px 30px; }
    }

    .nav-toggle {
        span {
            &:first-child {
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }

            &:nth-child(2) { background: transparent; }

            &:nth-child(3) {
                top: 50%;
                transform: rotate(45deg) translateY(-50%);
            }
        }
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.7);
        opacity: 1;
        z-index: 998;
        transition: opacity .3s ease-in-out;
    }
}